{% extends 'layouts.html' %}

{% block content %}

    <div>
        <h2>Create New Project</h2><br>
            <div class="New Project">
                <form action = "" methods = "POST">
                    {{ form.csrf_token}}
                    <fieldset class = "form-group">
                        <legend> Enter Project Details</legend>
                        <div class = "form-group">
                            {{form.user_initials.label(class = "form-control-label")}}
                            {% if form.user_initials.errors %}
                                {{form.user_initials(class = "form.control is-invalid")}}
                                {%for error in form.user_initials.errors %}
                                    <div class = "invalid-feedback">
                                        <span>{{error}}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{form.user_initials(class="form-control")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{form.event_name.label(class = "form-control-label")}}
                            {% if form.event_name.errors %}
                                {{form.event_name(class = "form.control is-invalid")}}
                                {%for error in form.event_name.errors %}
                                    <div class = "invalid-feedback">
                                        <span>{{error}}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{form.event_name(class="form-control")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{form.can_connector_id.label(class = "form-control-label")}}
                            {% if form.can_connector_id.errors %}
                                {{form.can_connector_id(class = "form.control is-invalid")}}
                                {%for error in form.can_connector_id.errors %}
                                    <div class = "invalid-feedback">
                                        <span>{{error}}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{form.can_connector_id(class="form-control")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{form.vehicle_id.label(class = "form-control-label")}}
                            {% if form.vehicle_id.errors %}
                                {{form.vehicle_id(class = "form.control is-invalid")}}
                                {%for error in form.vehicle_id.errors %}
                                    <div class = "invalid-feedback">
                                        <span>{{error}}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{form.vehicle_id(class="form-control")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{form.baud_rate.label(class = "form-control-label")}}
                            {% if form.baud_rate.errors %}
                                {{form.baud_rate(class = "form.control is-invalid")}}
                                {%for error in form.baud_rate.errors %}
                                    <div class = "invalid-feedback">
                                        <span>{{error}}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{form.baud_rate(class="form-control")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{form.can_dbc.label(class = "form-control-label")}}
                            {% if form.can_dbc.errors %}
                                {{form.can_dbc(class = "form.control is-invalid")}}
                                {%for error in form.can_dbc.errors %}
                                    <div class = "invalid-feedback">
                                        <span>{{error}}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{form.can_dbc(class="form-control")}}
                            {% endif %}
                        </div>
                    </fieldset>
                </form>
            </div>
    </div>

{% endblock content %}