{% extends 'layouts.html' %}

{% block content %}

<div>
    <h2>Create New Project</h2><br>
    <div class="New Project">
    <form>
        <label><b>User Initials:
        </b> <br><br>
        </label>
        <input type="text" >
        <br><br>
        <label><b>Event Name:
        </b>
        <br><br>
        </label>
        <input type="text">
        <br><br>
        <label><b>CAN connector ID:
        </b>
        <br><br>
        </label>
        <input type="text">
        <br><br>
        <label><b>Vehicle ID:
        </b>
        <br><br>
        </label>
        <input type="text">
        <br><br>
        <label><b>Baud Rate:
        </b>
        <br><br>
        </label>
        <input type="text">
        <br><br>
        <label><b>CAN DBC:
        </b>
        <br><br>
        </label>
        <input type="text">
        <br><br>
        <input type="button" value="Create">
    </form>
    </div>
</div>

{% endblock content %}