    {% extends 'layouts.html' %}

    {% block content %}
    <h1>Sync Project </h1>


    <script src="{{url_for('static', filename='main.js')}}"></script>
    <div class="container">
    <div class = "card" style="background: #666666">

        <div class="container p-2">

            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Source Path:</label>
                <input type="source" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{srcPath}}">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Destination Path:</label>
                <input type="destination" class="form-control" id="exampleInputPassword1">
              </div>
                {{form.submit(class="btn btn-warning")}}
            </form>
        </div>

    </div>


</div>
{% endblock content %}