{% extends 'layouts.html' %}

{% block content %}

<div class="container">
    <div class="col m-auto">
        <div class="card" style="background: #666666">
            <h5 class="card-header" style="color: black; background: #C4C4C4">Traffic Viewer</h5>
            <div class="container mx-0 px-0 my-1">
                <table class="table" style="color: white">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Time</th>
                            <th scope="col">Source</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Protocol</th>
                            <th scope="col">Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background: #0047AB">
                            <th scope="row">18</th>
                            <td>1.2248439</td>
                            <td>192.168.0.1</td>
                            <td>192.168.0.2</td>
                            <td>TCP</td>
                            <td>3197 > http [SYN] Seq=1 Len=1 MSS</td>
                        </tr>
                        <tr style="background: #6495ED">
                            <th scope="row">19</th>
                            <td>1.249783</td>
                            <td>192.168.0.2</td>
                            <td>192.168.0.1</td>
                            <td>HTTP</td>
                            <td>http > 3197 [SYN, ACK] Seq=1 Ack=0</td>
                        </tr>
                        <tr style="background: #32CD32">
                            <th scope="row">20</th>
                            <td>1.2248439</td>
                            <td>192.168.0.2</td>
                            <td>192.168.0.2</td>
                            <td>TCP</td>
                            <td>3197 > http [ACK] Seq=1 Ack=1 Win</td>
                        </tr>
                        <tr style="background: #32CD32">
                            <th scope="row">21</th>
                            <td>1.2313740</td>
                            <td>192.168.0.2</td>
                            <td>192.168.0.2</td>
                            <td>TCP</td>
                            <td>SUSCRIBE /upnp/service/Layer3For</td>
                        </tr>
                        <tr>
                            <th><br></th>
                        </tr>
                        <tr>
                            <th><br></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" style="background: #666666">
            <div class="container mx-0 px-0 my-1">
                <table class="table" style="color: black; background: #C4C4C4">
                    <tbody>
                        <tr>
                            <th><h6>Frame 11 (62 Bytes on wire, 62 Bytes captured)</h6></th>
                        </tr>
                        <tr>
                            <th><h6>Ethernet II, Src: 192.168.0.2</h6></th>
                        </tr>
                        <tr>
                            <th><h6>Ethernet Protocol, Src: 192.168.0.2</h6></th>
                        </tr>
                        <tr>
                            <th><h6>Transmission Control Protocol, Src Port: 3196 (3196)</h6></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" style="background: #666666">
            <div class="container mx-0 px-0 my-1">
                <table class="table" style="color: black; background: #C4C4C4">
                    <tbody>
                        <tr>
                            <th><h6>0000 00 09 5b 2d 75 9a 00 0b</h6></th>
                        </tr>
                        <tr>
                            <th><h6>0010 00 02 0b 00 20 0a 0c 00</h6></th>
                        </tr>
                        <tr>
                            <th><h6>0020 00 01 0c 7c 00 50 3c 36</h6></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}